{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}Chat{% endblock %}</title>
    {% block javascript %}
    <script  src="{% static "jquery.min.js" %}"></script>
    <script  src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static "bootstrap/css/bootstrap.min.css" %}" />
    <link rel="stylesheet" type="text/css" href="{% static "style.css" %}" />   
</head>
<body>
    <div class="container">
        <div class="row">
        <div class="col-md-5">
            <h1> Welcome to the chat. {% block userinfo %}{% endblock %}</h1>
            {% block form %}{% endblock %}
        </div>
        </div>
    </div>
</body>
</html>