{% extends 'base.html' %}
{% load staticfiles %}


{% block javascript %}
<script  src="{% static "jquery.min.js" %}"></script>
<script  src="{% static "bootstrap/js/bootstrap.min.js" %}"></script>
<script  src="{% static "script.js" %}"></script>
{% endblock %}

{% block userinfo %}
<h4>You are logged in as {{ user.username }}. <a href="{% url 'logout' %}">Log Out.</a> </h4>
{% endblock %}

{% block form %}
<form class="form" id="msg-form">
    <div class="form-group">
        <label for="message">Type your message:</label>
        <textarea class="form-control" rows="5" id="message"></textarea>
    </div>
    <button type="button" class="btn btn-default">Submit</button>
</form>
{% endblock %}