{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Log In Page{% endblock %}

{% block form %}
<h4>Type your login and password to enter. <br> If you are not registered -  <a href="{% url 'signup' %}">sign up here</a></h4>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}

    <div class="form-group">
        <label for="id_{{ form.username.name }}">{{ form.username.label }}</label>
        <input class="form-control" 
            autofocus="" 
            id="id_{{ form.username.name }}" 
            maxlength="254" 
            name="{{ form.username.name }}" 
            type="text" 
            required="">
        {% if form.username.errors %}
            <div class="alert alert-danger">{{ form.username.errors }}</div>
        {% endif %}
    </div>

    <div class="form-group">
        <label for="id_{{ form.password.name }}">{{ form.password.label }}</label>
        <input class="form-control" 
            autofocus="" 
            id="id_{{ form.password.name }}" 
            maxlength="254" 
            name="{{ form.password.name }}" 
            type="password" 
            required="">
        {% if form.password.errors %}
            <div class="alert alert-danger">{{ form.password.errors }}</div>
        {% endif %}
    </div>
    <button class="btn btn-default" type="submit">Sign in</button>

</form>
{% endblock %}