{% extends 'base.html' %}
{% load staticfiles %}


{% block title %}Sign Up Page{% endblock %}

{% block form %}
<h4>Fill up all fields.</h4>
<form action="" method="post" class="form">
    {% csrf_token %}
    {% if form.non_field_errors %}
        <div class="alert alert-danger">{{ form.non_field_errors }}</div>
    {% endif %}
    
    <div class="form-group">
        <label for="id_{{ form.username.name }}">{{ form.username.label }}</label>
        <input class="form-control" 
            autofocus="" 
            id="id_{{ form.username.name }}" 
            maxlength="254" 
            name="{{ form.username.name }}" 
            type="text" 
            required="">
            {% if form.username.errors %}
                <div class="alert alert-danger">{{ form.username.errors }}</div>
            {% endif %}
    </div>

    <div class="form-group">
        <label for="id_{{ form.password1.name }}">{{ form.password1.label }}</label>
        <input class="form-control" 
            autofocus="" 
            id="id_{{ form.password1.name }}" 
            maxlength="254" 
            name="{{ form.password1.name }}" 
            type="password" 
            required="">
        {% if form.password1.errors %}
            <div class="alert alert-danger">{{ form.password1.errors }}</div>
        {% endif %}
    </div>
    

    <div class="form-group">
        <label for="id_{{ form.password2.name }}">{{ form.password2.label }}</label>
        <input class="form-control" 
            autofocus="" 
            id="id_{{ form.password2.name }}" 
            maxlength="254" 
            name="{{ form.password2.name }}" 
            type="password" 
            required="">
            {% if form.password2.errors %}
                <div class="alert alert-danger">{{ form.password2.errors }}</div>
            {% endif %}
    </div>

    <button class="btn btn-default" type="submit">Sign up</button>
</form>
{% endblock %}